/* Font er */

.inter-common1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-common2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hero Section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    
}
.banner{
    text-align: center;
}
.btn{
    text-align: center;
}
.bg-img{
    background-image: url(../Assets/Hero-bg.png);
    background-size: auto;
    display: inline-block;
    width: 100%;
    height: 698px;
}
.banner{
    
    font-size: 65px;
    font-weight: bold;
     text-align: center ;
    /* margin-left: 267px;
    margin-right: 267px; */
    color: #252432;
}
.inter{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}
.btn{
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
    font-size: 16px;
    color: white; 
    padding: 12px 36px; 
    cursor: pointer; 
    border-radius: 5px;
}
.some-container{
      text-align: center;
}
.link{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: rgb(253, 248, 248);
    border: none;
    margin-top: 10px;
    padding: 12px 36px;
    border-radius: 5px;

}

/* mid section */
.focus{
    margin-top: 117px;
    display: flex;
    gap: 220px ;
   justify-content: center;
}

.heading{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
#para{
    font-size: 24;
    font-weight: 400;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
    font-size: 16px;
    color: white; 
    padding: 12px 36px; 
    cursor: pointer; 
    border-radius: 5px;
}
.picture{
    border-radius: 48px
}
